{% extends "layout.njk" %}

{% block content %}

    <div class="card">
        <section 
            class="avatar" 
            style="background: url(https://scontent.fsdu1-1.fna.fbcdn.net/v/t1.0-9/71182165_1880554682048291_5980082961372938240_n.jpg?_nc_cat=105&_nc_sid=09cbfe&_nc_ohc=fZ14LnT975cAX87zNY8&_nc_ht=scontent.fsdu1-1.fna&oh=06b59cd938758df934350594d2aa23ff&oe=5F3E04F7) no-repeat center center / cover">
        </section>

        <section class="details">
            <h2>Lislayne F Santos</h2>
            <h3>Makeup Artist</h3>

            <p>Profissional em maquiagem artistica, maquiagem para noivas, debutantes e etc. Especialista em diversas tecnicas, buscando sempre o melhor para suas clientes. Hoje professora de mais de 30 alunas de auto-maquiagem.</p>
            <p>Se você tem vontade de se torna maquiadora ou até mesmo se auto-maquiar. Você está no lugar certo, hoje em dia a aparência importa e muito e nada mais que você mulher para saber disso. Não perca tempo e se inscreva no melhor curso de maquiagem online da Região.</p>
            
            <a href="/registro" class="button">Inscreva-se</a>
            <a href="" class="button">Saiba mais</a>
        </section>
    </div>
    
{% endblock content %}