{% extends "layout.njk" %}

{% block content %}

<div class="card table-container">
    
    <table width="100%">
        <thead>
            <tr>
                <th>Aluna</th>
                <th>Tecnicas</th>
                <th>Ação</th>
            </tr>
        </thead>

        <tbody>
            {% for aluno in alunos %}
            <tr>
                <td>
                    <span style="background-image: url({{aluno.avatar_url}})"></span>
                    {{aluno.name}}
                </td>
                <td class="services_aluno">{{aluno.tecnicas}}</td>
                <td>
                    <a href="/aluno/{{aluno.id}}">Editar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content %}

