{% extends "layout.njk" %}

{% block content %}

<div class="card-more">
    <h3>Detalhes da técnica</h3>
    <p>Lislayne Carrílio</p>

        <div class="cards">
            <div>
                <img src="https://i.pinimg.com/474x/11/f3/0b/11f30b4b4af9d57c6ca1bef5581c9af0.jpg" alt="">
            </div>
        </div> 

</div>


{% endblock content %}