<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lislayne Santos Makeup</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header>
        <div class="menu">
            <a href="/makeup">Sobre</a>
            <a href="">Aulas</a>
            <a href="/registro">Inscreva-se</a>
        </div>
    </header>

    {% block content %}{% endblock content %}

</body>
</html>